{% extends "Annotation/header.html" %}
{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<p>Big icon will go here</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2 col-md-offset-5">
			<a class="btn btn-default" href="Annotationpage0" role="button">Analyze me!</a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<p>In the world of competitive gaming, sometimes it's hard to analyze your own gameplay and synthesize a plan for improvement. SmashSite(change this) helps players by offering an online platform to upload their gameplay and get analyzed by their peers. Using a voting system, players can get an idea of what is generally thought of as a better option in certain scenarios.</p>
		</div>
	</div>
</div>
{% endblock %}
