{% extends "Annotation/header.html" %}

{% block content %}

<!--The header for the user-->
<div class="col-md-6 col-md-offset-3">
	<div class="row">
		<p>
		<h3>
			{{user.username}}
			<!--<button class="btn btn-default">Follow</button>-->
		</h3>
		</p>
	</div>
</div>
	
<!--This panel is for the user's videos that he/she commented on-->
<div class="col-md-6">
	<div class="row">
		<div class="panel">
			<table class="table table-hover">
				<caption>Commented Video History</caption>
				{% for vod in vods_list %}
					<tr>
					<td>
						<h2><a href="Annotation{{ vod.id }}">{{ vod.title }}</a></h2>
						<div class="embed-responsive embed-responsive-16by9">
							<iframe class="embed-responsive-item" src="{{ vod.url }}"></iframe>
						</div>
					</td>
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>
</div>
	
<!--This panel is for the user's videos that he/she has posted-->
<div class="col-md-6">
	<div class="row">
		<div class="panel">
			<table class="table table-hover">
				<caption>Video History</caption>
				{% for vod in user_vods %}
					<tr>
					<td>
						<h2><a href="Annotation{{ vod.id }}">{{ vod.title }}</a></h2>
						<div class="embed-responsive embed-responsive-16by9">
							<iframe class="embed-responsive-item" src="{{ vod.url }}"></iframe>
						</div>
					</td>
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>
</div>

{% endblock %}