.table > tbody >tr > td {
     vertical-align: middle;
}

.username-text{
	color: 	#5F9EA0;
}

.center{
	display: inline-block;
}

.cssbutton{
	cursor:pointer;
}

.cssbutton:hover{
	border: thick solid #ff9800;
	border-radius: 5px;
}

#inputWell{
	display:none;
}

.post-box{
	padding-right: 16px;
	padding-top: 10px;
	padding-left: 16px;
}

.time-control{
	color:#808080;
}

.confirm{
	color:red;
	display:none;
}

.confirm:hover{
	color:red;
}
